# 依赖
node_modules/

# 构建产物
out/
dist-web/
release/

# 日志
*.log
npm-debug.log*
pnpm-debug.log*

# 环境变量
.env
.env.local
.env.*.local

# 编辑器与系统
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
